<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- AOS CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    
    <!-- Google Material Icons -->
    <link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    
    <!-- Compiled Bootstrap CSS -->
   <link href="../public/css/custom.css" rel="stylesheet">
   <!-- Custom CSS -->
   <link rel="stylesheet" href="../public/css/main.css">
   <script src="../public/js/main.js" defer></script>
   
   <title>Pothos</title>
   <link rel="icon" href="PlantPhotos/pothosLogo.png">

</head>

<body class="main-layout bg-secondary">
    <nav id="navbar" class="d-flex flex-column flex-md-row justify-content-between align-items-center bg-primary" data-aos="fade-in">
            
        <a href="/"> <img class="" style="width: 175px" src="../PlantPhotos/pothosHomepageLogo.png"></a>
        <li id="adminAddBtn" class="nav-item"><a href="/admin" class="nav-link link-success">back to admin home</a></li>

    </nav>

<main class="py-5">
    <p class="text-center fs-4 text-primary h-accent">Use this form to add a new plant to the Pothos database</p>
    <hr class="w-50 m-auto">
    <div class="d-flex justify-content-center m-3 pt-3">
        <form id="adminForm" class="w-75 d-flex flex-column" action="/admin/addPlant" method="POST">
            <div class="mb-3 input-group border border-2 border-dark rounded">
                <span style="width: 175px" class="input-group-text bg-success text-dark" id="inputGroup-sizing-default">Common Name</span>
                <input type="text" name="commonName" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="mb-3 input-group border border-2 border-dark rounded">
                <span style="width: 175px" class="input-group-text bg-success text-dark" id="inputGroup-sizing-default">Scientific Name</span>
                <input type="text" name="scientificName" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>

            <div class="mb-3 input-group border border-2 border-dark rounded">
                <label style="width: 175px" class="input-group-text bg-success text-dark" for="inputGroup-sizing-default">Type</label>
                <select class="form-select" id="inputGroup-sizing-default" name="type">
                    <option selected>Choose...</option>
                    <option value="pothos">Pothos</option>
                    <option value="philodendron">Philodendron</option>
                    <option value="other">Other</option>
                </select>
            </div>

            <div class="mb-3 input-group border border-2 border-dark rounded">
                <span style="width: 175px" class="input-group-text bg-success text-dark" id="inputGroup-sizing-default">Description</span>
                <input type="text" name="description" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="mb-3 input-group border border-2 border-dark rounded">
                <span style="width: 175px" class="input-group-text bg-success text-dark" id="inputGroup-sizing-default">Image PlantPhotos/</span>
                <input type="text" name="img" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="mb-3 input-group border border-2 border-dark rounded">
                <span style="width: 175px" class="input-group-text bg-success text-dark" id="inputGroup-sizing-default">Price</span>
                <input type="number" name="price" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
           
            <div class="mb-3 input-group border border-2 border-dark rounded">
                <span style="width: 175px" class="input-group-text bg-success text-dark" id="inputGroup-sizing-default">Water Requirement</span>
                <select class="form-select" name="waterReq" aria-label="Default select example">
                    <option selected>Select</option>
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                    </select>
                <input type="text" name="waterNotes" placeholder="Notes on water requirement" class="form-control w-50" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>

            <div class="mb-3 input-group border border-2 border-dark rounded">
                <span style="width: 175px" class="input-group-text bg-success text-dark" id="inputGroup-sizing-default">Light Requirement</span>
                <select class="form-select" name="lightReq" aria-label="Default select example">
                    <option selected>Select</option>
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                    </select>
                <input type="text" name="lightNotes" placeholder="Notes on light requirement" class="form-control w-50" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>

            <div class="mb-3 input-group border border-2 border-dark rounded">
                <span style="width: 175px" class="input-group-text bg-success text-dark" id="inputGroup-sizing-default">Plant Toxicity</span>
                <select class="form-select" name="toxicity" aria-label="Default select example">
                    <option selected>Select</option>
                    <option value="none">Not toxic to pets or people</option>
                    <option value="pets">Toxic to pets</option>
                    <option value="people">Toxic to people</option>
                    <option value="all">Toxic to pets and people</option>
                    </select>
                <input type="text" name="toxicityNotes" placeholder="Notes on plant toxicity" class="form-control w-50" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            
            <button type="submit" class="btn btn-success border-dark align-self-center my-5">Add to Database</button>
        </form>
    </div>
</main>
<footer class="container-fluid bg-primary">
    <div class="row p-3">
        <ul class="nav pt-4 d-flex justify-content-center">
            <li class="nav-item"><a class="nav-link nav-link-active" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link link-secondary " href="/about">About</a></li>
            <li class="nav-item"><a class="nav-link link-secondary " href="/shop">Shop</a></li>
            <li class="nav-item"><a class="nav-link link-secondary " href="/care">Care</a></li>
            <!-- <li class="nav-item"><a href="/reference" class="nav-link link-secondary">Reference</a></li> -->
            <li class="nav-item"><a href="/admin" class="nav-link link-secondary">Admin</a></li>
        </ul>
    </div>

    <hr class="text-secondary">
   
       
    
    <div class="pt-4 d-flex flex-column justify-content-center  align-items-center">
        <!-- <p class="text-center text-light">Made By Karissa Lange</p> -->
        <img class="pb-2" style="width: 3rem" src="/PlantPhotos/pothosLogo.png" >
        <p class="text-center text-light">© 2023 Pothos, Inc. All rights reserved.</p>
    </div>
</footer>
  
    <!-- AOS javascript -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>   
</body>
</html>