<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- AOS CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    
    <!-- Google Material Icons -->
    <link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    
    <!-- Compiled Bootstrap CSS -->
   <link href="../public/css/custom.css" rel="stylesheet">
   <!-- Custom CSS -->
   <link rel="stylesheet" href="../public/css/main.css">
   <script src="../public/js/main.js" defer></script>
   
   <title>Pothos</title>
   <link rel="icon" href="PlantPhotos/pothosLogo.png">

</head>

<body class="main-layout bg-secondary">
    

    <nav id="navbar" class="d-flex justify-content-between align-items-center bg-primary" data-aos="fade-in">
            
        <a href="/"> <img class="" style="width: 175px" src="../PlantPhotos/pothosHomepageLogo.png"></a>
        <h3 class="text-success pt-4">Welcome Admin!</h3> 
        <!-- <div id="logo"><a>POTHOS</a></div> -->
        <!-- <ul class="nav pt-4">
            <li id="adminAddBtn" class="nav-item"><a href="admin/add" class="nav-link link-secondary">add</a></li>
            <li id="adminEditBtn" class="nav-item"><a href="admin/edit" class="nav-link link-secondary">edit</a></li>
            <li id="adminPreviewBtn" class="nav-item"><a href="admin/preview" class="nav-link link-secondary">preview</a></li>
        </ul> -->
    </nav>
<section class="" style="height: 75vh;">
    <h1 class="text-primary text-center p-5">What would you like to do today?</h1>
    <div class="d-flex flex-wrap justify-content-center">
        <a href="admin/add"><button class="btn btn-outline-primary btn-lg m-3">Add New Plant</button></a>
        <a href="admin/edit"><button class="btn btn-outline-primary btn-lg m-3">Edit Plant Database</button></a>
        <a href="admin/preview"><button class="btn btn-outline-primary btn-lg m-3">Preview Customer Views</button></a>
    </div>
</section>

<footer class="container-fluid bg-primary">
    <div class="row p-3">
        <ul class="nav pt-4 d-flex justify-content-center">
            <li class="nav-item"><a class="nav-link nav-link-active" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link link-secondary " href="/about">About</a></li>
            <li class="nav-item"><a class="nav-link link-secondary " href="/shop">Shop</a></li>
            <li class="nav-item"><a class="nav-link link-secondary " href="/care">Care</a></li>
            <li class="nav-item"><a href="/reference" class="nav-link link-secondary">Reference</a></li>
            <li class="nav-item"><a href="/admin" class="nav-link link-secondary">Admin</a></li>
        </ul>
    </div>
    <div class="row p-3">
        <ul class="list-unstyled d-flex justify-content-center">
            <li class="ms-4"><a href="#"><i class="bi bi-small bi-facebook text-success"></i></a></li>
            <li class="ms-4"><a href="#"><i class="bi bi-small bi-instagram text-success"></i></a></li>
            <li class="ms-4"><a href="#"><i class="bi bi-small bi-twitter text-success"></i></a></li>
        </ul>
    </div>
    <hr class="text-secondary">
    <div class="py-4">
        <p class="text-center text-light">© 2023 Pothos, Inc. All rights reserved.</p>
    </div>
</footer>
   
  
    <!-- AOS javascript -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>   
</body>
</html>