<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- AOS CSS -->
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        
       <!-- Compiled Bootstrap CSS -->
       <link href="public/css/custom.css" rel="stylesheet">
       
       <!-- Custom CSS -->
       <link rel="stylesheet" href="public/css/main.css">
       
       <link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">    
       <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
       <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
             
       <title>Happy, Healthy Vines - Pothos Plant Store</title>
       <link rel="icon" href="PlantPhotos/pothosLogo.png?">
       <meta name="description" content="Commited to providing happy houseplants and guided plant care"/>
       <meta name="keywords" content="plants, store, pothos, monstera, houseplants, philodendron, shop, green">
        <meta property="og:title" content="Pothos" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://pothosplants.cyclic.cloud/" />
        <meta property="og:image" content="https://karissa-lange.netlify.app/images/PothosHomepage.png" />

        <script type="text/javascript" src="public/js/main.js"></script> 
    </head>
    <body class="main-layout bg-secondary">
        <nav class="navbar navbar-expand-md bg-primary py-3">
            <div class="container-fluid">
                <a class="navbar-brand " href="/"><img class="" style="width: 175px" src="PlantPhotos/pothosHomepageLogo.png" alt="Pothos plant store logo"></a>
                <button class="navbar-toggler bg-success mt-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class=" collapse navbar-collapse mt-3" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto text-center">
                        <li class="nav-item"><a class="nav-link nav-link-active fs-4" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link link-secondary fs-4" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link link-secondary fs-4" href="/shop">Shop</a></li>
                        <li class="nav-item"><a class="nav-link link-secondary fs-4" href="/care">Care</a></li>
                        <li class="nav-item" ><a class="nav-link" href="/auth"><i class="bi bi-person-circle bi-small text-success"></i></a></li>
                        <li class="nav-item" ><a class="nav-link" href="/cart"><i class="bi bi-cart2 bi-small text-success"></i></a></li> 
                    </ul>
                </div>
            </div>
        </nav>
 