body{
    /* background:linear-gradient(0deg, rgba(69, 82, 63, .8), rgba(69, 82, 63, .8)), url(pothosleaves.webp); */
    /* background-size: 200%; */
    background-color: rgba(167, 175, 157, .5);
    color: black;
    font-family: Arial, Helvetica, sans-serif
}




/* NAVBAR */
    #navbar {
        padding: 20px 30px;
    }
   
    .nav-link, #logo {
        color: black;
        cursor: pointer;
        font-size: 20px;
        padding: 0;
        margin: 10px 10px 0 10px;
    }
    .nav-link-active, 
    .nav-link:hover{
        border-bottom: 2px solid #BC4A3C;
        color:black;
    }

    hr {
        border-bottom: 2px solid #2F4858;  
    }

    header{
        height: 100vh;
    }
/* Banner Home */
#bannerHome {
    /* height: 100vh; */
    /* background-color: rgba(190, 75, 62); */
    
}

#bannerHome img {
    min-width: 350px;
    min-height: 350px;
    max-width: 500px;
    max-height: 500px;
    border-radius: 50%;
    object-fit: cover;
   
}

/* General Section */
section {
    padding: 60px 30px;
    text-align: center;
}

/* about section */

#about .container{
    background-color: white;
    padding: 30px;
}

/* featured section */

#featured {
    background-color: #6B877F;
}

.circle-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 20px;
}
.circle {
    border-radius: 50%;
}

/* SHOP */
.shop-item {
    background-color: #6B877F;
    border-radius: 50px;
    color: white;
    
}

/* HEADERS */

    .h-blue {
        color: #2F4858;
    }
    .h-orange {
        color: #BC4A3C;
    }
    .h-white {
        color: white;
    }
    .h-black {
        color: black;
    }

/* BUTTONS */

    .btn { 
        font-size: 20px;
        border-radius: 100px;
    }
    .btn-blue {
        background-color: #2F4858;
        color: white;
    }
    .btn-orange {
        background-color: #BC4A3C;
        color: white;
    }
    .btn-o-blue {
        border: 2px solid #2F4858;
        color: #2F4858;
    }
    .btn-o-orange {
        border: 2px solid #BC4A3C;
        color:#BC4A3C;
    }


/* BOOTSTRAP ICONS */
    .bi{
        padding: 10px;
        font-size: 50px;
        cursor: pointer;
    }
    .bi-small{
        font-size: 25px;
        padding-top: 5px;
    }
    .icon-blue {
        color: #2F4858;
    }
    .icon-blue:hover{
        color: #BC4A3C;
    }
    .icon-orange {
        color: #BC4A3C;
    }
    .icon-orange:hover{
        color: #2F4858;
    }

