/* Navbar */
#navbar {
    padding: 20px 30px;
    background-color: rgba(190, 75, 62);  
}
#navbar a {
    color: black;
}

/* Banner Home */
#bannerHome {
    height: 100vh;
    background-color: rgba(190, 75, 62);
    
}
#bannerHome img {
    width: 500px;
}

/* General Section */
section {
    padding: 60px 30px;
}

/* about section */

#about {
    background-color: #FFF6F4;
}

/* featured section */

#featured {
    background-color: #FFF6F4;
}

/* contact section */

#contact {
    background-color: #FFF6F4;
}