<%- include('partials/header') -%>

        

    <main>
        <div class="d-flex justify-content-center">
            <div class="">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 align-items-center justify-content-left d-flex p-5">
                        <div class="text-dark">
                            <div class="title-big">
                                <h1 class="h-accent pt-3">About Pothos</h1>
                            </div>
                            <div class="my-5">
                                <p class="text-dark fs-5">
                                    We're not just a plant shop.
                                </p>
                                <p class="text-dark fs-5">
                                    After providing high quality greenery to your door, we don't just disappear. Here at Pothos, we are commited to giving you continued resources so your pristine plant babies stay beautiful for a long time. 
                                </p>
                                <p class="text-dark fs-5">We are constantly growing our plant selections and finding new ways to connect with our customers!</p>
                            </div>
                            <div class="text-left mb-3">
                                <a href="/shop"><button type="button" class="btn btn-success border-2 border-dark my-3">Visit our Shop</button></a> 
                                <a href="/care"><button type="button" class="btn btn-success border-2 border-dark">See Care Guides</button></a> 
                            </div>
                           
                            <!-- <i class="bi bi-bag-heart-fill"></i> -->
                        </div>
                        
                    </div>
                    <div class="col-lg-6 col-sm-8 mb-5 mt-lg-0">
                        <img class="img-fluid" src="PlantPhotos/pexels-anna-nekrashevich-8988961.jpg" alt="monstera plant sitting on table"/>
                    </div>
                </div>
                
            </div>
        </div>
        <hr class="w-75 m-auto my-4">
        
        <section class="container-fluid text-center">
            <h1 class="text-center h-accent">Want the dirt on all things plants?</h1>
            <form class="pt-5">
                <p class="fs-4">Find us on social media or join our newsletter to get the scoop on new arrivals, plant sales, and more:</p>

                <!-- <p>for exciting bi-wekly updates, deals, and plant care tips</p> -->
                
                    
                    <!-- <p>for exciting bi-wekly updates, deals, and plant care tips</p> -->
                  
                        <div class="row d-flex justify-content-center" >
                            <div class="col-12 col-md-6">
                                <input type="text" class="form-control bg-light rounded p-2 my-2 text-center" placeholder="Email Address" aria-label="Email Address" aria-describedby="button-subscribe">
                            </div>
                            <button class="btn btn-success btn-sm col-12 col-md-4 my-2 mx-3 bg-success rounded text-dark text-center ">Subscribe</button>
                        </div>
                  
                    
                </form>
            </form>
            <div class="pt-5">
                <ul class="list-unstyled d-flex justify-content-center">
                    <li class=""><a href="#"><i class="bi bi-facebook text-primary"></i></a></li>
                    <li class="mx-4"><a href="#"><i class="bi bi-instagram text-primary"></i></a></li>
                    <li class=""><a href="#"><i class="bi bi-twitter text-primary"></i></a></li>
                </ul>
            </div>
        </section>
    </main>

    
    <%- include('partials/footer') -%>