<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- AOS CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    
    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />
 
    <!-- Compiled Bootstrap CSS -->
   <link href="public/css/custom.css" rel="stylesheet">
   <!-- Custom CSS -->
   <link rel="stylesheet" href="public/css/main.css">
   
   <title>Pothos</title>
   <link rel="icon" href="PlantPhotos/pothosLogo.png">

</head>

<body class="main-layout bg-secondary">
    <!-- page loader -->
    <div class="loader_bg" style="display: none;">
        <div class="loader"><img src="images/loading.gif" alt="#"></div>
    </div><!-- end loader -->

    <nav id="navbar" class="d-flex justify-content-between align-items-center bg-primary" data-aos="fade-in">
            
        <img class="" style="width: 175px" src="PlantPhotos/pothosHomepageLogo.png">
         
        <!-- <div id="logo"><a>POTHOS</a></div> -->
        <ul class="nav pt-4">
            <li class="nav-item"><a class="nav-link nav-link-active" href="/">home</a></li>
            <li class="nav-item"><a class="nav-link link-secondary " href="/about">about</a></li>
            <li class="nav-item"><a class="nav-link link-secondary " href="/shop">shop</a></li>
            <li class="nav-item"><a class="nav-link link-secondary " href="/care">care</a></li>
            <i class="bi bi-cart2 bi-small"></i>
        </ul>
    </nav>

    <h4 class="text-center">add new</h4>
        <div class="d-flex justify-content-center m-3">
            <form id="adminForm" class="w-50 d-flex flex-column" action="/admin/addPlant" method="POST">
                <div class="mb-3 input-group border border-3 border-dark rounded">
                    <span class="input-group-text bg-success text-dark" id="inputGroup-sizing-default">Common Name</span>
                    <input type="text" name="commonName" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="mb-3 input-group border border-3 border-dark rounded">
                    <span class="input-group-text bg-success text-dark" id="inputGroup-sizing-default">Scientific Name</span>
                    <input type="text" name="scientificName" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="mb-3 input-group border border-3 border-dark rounded">
                    <span class="input-group-text bg-success text-dark" id="inputGroup-sizing-default">Price</span>
                    <input type="number" name="price" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <!-- <div class="mb-3 input-group">
                    <span class="input-group-text">Description</span>
                    <textarea class="form-control" name="description" aria-label="With textarea"></textarea>
                </div>
                <div class="mb-3 input-group">
                    <span class="input-group-text">Water Every</span>
                    <div class="form-control d-flex">
                        <input type="number" class="w-25" name="waterFrequency"> 
                        <select class="w-50 form-select form-select-sm" aria-label=".form-select-sm example" name="waterFrequency" >
                            <option selected="">choose</option>
                            <option value="day(s)">day(s)</option>
                            <option value="week(s)">week(s)</option>
                            <option value="month(s)">month(s)</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 input-group">
                    <span class="input-group-text">Light Requirement</span>
                    <div class="form-control">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option selected="">Select Requirement</option>
                            <option value="1">Low Light</option>
                            <option value="2">Moderate Light</option>
                            <option value="3">High Light</option>
                        </select>
                    </div>
                </div>
                
                <div class="mb-3 input-group d-flex">
                    
                        <span class="input-group-text">Pet Safety</span>
                        <div class="form-control d-flex flex-column">
                            <div class="d-flex">
                                <div>
                                    <input checked type="radio" id="safetyChoiceSafe" name="safety" value="safe_pets" />
                                    <label for="safetyChoiceSafe">Safe for Pets</label>
                                </div>
                                <div class="px-4">
                                    <input type="radio" id="safetyChoiceUnsafe" name="safety" value="unsafe_pets" />
                                    <label for="safetyChoiceUnsafe">Not Safe for Pets</label>
                                </div>
                            </div>
                            <div  class="mt-2">
                                <label for="safetyNotes">Notes:</label>
                                <input class="w-75" type="text" id="safetyNotes" name="safetyNotes"/>    
                            </div>
                        </div>
                
                    
                </div>
                <div class="mb-3 input-group">
                    <span class="input-group-text">Img File Name</span>
                    <div class="form-control d-flex flex-column">
                        <div>
                            <span>PlantPhotos/</span>
                            <input type="text" class="mx-3" name="imgFile">
                        </div>
                        <div class="mt-2">
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="imgFile">
                                <option selected="">Select File Extension</option>
                                <option value=".jpeg">.jpeg</option>
                                <option value=".png">.png</option>
                                <option value=".webp">.webp</option>
                            </select>
                        </div>
                    </div>                
                </div> -->
                <button type="submit" class="btn btn-success border-dark align-self-center">Add to Database</button>
            </form>
        </div>

    
  
    <!-- AOS javascript -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>   
</body>
</html>