<%- include('partials/header') -%>
        
<main class="container">
    <div class="row justify-content-center">
      <section class="col-4 mt-5">
        <form action="auth/login" method="POST">
            <h3 class="text-center">Login Existing User</h3>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                required
                />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                required
                />
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </section>
    </div>
    <div class="row justify-content-center">
        <section class="col-4 mt-5">
          <form action="auth/register" method="POST">
              <h3 class="text-center">Register New User</h3>
              <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  required
                  />
              </div>
              <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  required
                  />
              </div>
              <button type="submit" class="btn btn-primary">Register</button>
          </form>
        </section>
      </div>
  </main>

<%- include('partials/footer') -%>