<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- AOS CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    
   <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />
 

    <!-- Compiled Bootstrap CSS -->
    <link href="public/css/custom.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="public/css/main.css">
    
    <title>Pothos</title>
    <link rel="icon" href="PlantPhotos/pothosLogo.png">

    

</head>

<body class="main-layout">
    <!-- page loader -->
    <div class="loader_bg" style="display: none;">
        <div class="loader"><img src="images/loading.gif" alt="#"></div>
    </div><!-- end loader -->

        <nav id="navbar" class="d-flex justify-content-between align-content-center" data-aos="fade-in">
            <div id="logo"><a>POTHOS</a></div>
            <ul class="nav pt-4">
                <li class="nav-item"><a class="nav-link nav-link-active" href="/">home</a></li>
                <li class="nav-item"><a class="nav-link link-secondary " href="/about">about</a></li>
                <li class="nav-item"><a class="nav-link link-secondary " href="/shop">shop</a></li>
                <li class="nav-item"><a class="nav-link link-secondary " href="/care">care</a></li>
                <i class="bi bi-cart2 bi-small"></i>
            </ul>
        </nav>
        <hr data-aos="flip-left" data-aos-duration="1000"/> 

    <main>
        <input list="plantsList" name="plantsDatalist" onfocus="this.value=''" onchange="this.blur();">
        
        <section class="">
            <div class="row p-5">
                
                <div class="col d-flex flex-column justify-content-center align-content-center">
                    <h1 class="h-orange">Common Name</h1>
                    <span class="fst-italic h-blue">Scientific name</span>
                    <p>Description of plant here :  Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                    <i class="bi bi-droplet">Water Requirement</i>
                    <i class="bi bi-brightness-high">Light Requirement</i>
                    <!-- when plant is toxic -->
                    <span class="material-symbols-outlined bi">skull</span> 
                    <!-- when plant is safe -->
                    <span class="material-symbols-outlined bi">pets</span>
                </div>
                <div class="col d-flex justify-content-center align-content-center w-50">
                    <img class="img-fluid" src="/PlantPhotos/brasil-philo.webp"/>
                </div>
            </div>
        </section>
        
        <div>
            
        </div>
        <div>
            
        </div>
    </main>

    
<!-- footer -->
    <div class="container">
        <footer class="p-5 ">
            <div class="row d-flex justify-content-between">
                <div class="col py-3">
                    <h5 class="h-black">Pothos</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">about</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">shop</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">plant care</a></li>
                    </ul>
                </div>
        
                <div class="col py-3">
                    <h5 class="h-black">Links</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="https://perenual.com/docs/api" class="nav-link p-0 text-muted">perenual api</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="care-sheet-template.html" class="nav-link p-0 text-muted">Care sheet template</a></li>
                    </ul>
                </div>
        
        
                <div class="col-md-6 py-3">
                    <form>
                        <h5 class="h-black">Subscribe to our newsletter</h5>
                        <p>for exciting bi-wekly updates, deals, and plant care tips</p>
                        <div class="d-flex w-100 gap-2">
                            <label for="newsletter1" class="visually-hidden">Email address</label>
                            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                            <button class="btn btn-orange" type="button">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>

            <hr data-aos="flip-left" data-aos-duration="1000"/>

            <div class="d-flex justify-content-between py-4 my-4">
                <p>© 2023 Pothos, Inc. All rights reserved.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-4"><a href="#"><i class="bi bi-small icon-blue bi-facebook"></i></a></li>
                    <li class="ms-4"><a href="#"><i class="bi bi-small icon-blue bi-instagram"></i></a></li>
                    <li class="ms-4"><a href="#"><i class="bi bi-small icon-blue bi-twitter"></i></a></li>
                    <!-- <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li> -->
                </ul>
            </div>
        </footer>
    </div>
    
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>    
    
    <!-- AOS javascript -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>   
</body>
</html>