<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- AOS CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    
   <!-- Compiled Bootstrap CSS -->
   <link href="public/css/custom.css" rel="stylesheet">
   
   <!-- Custom CSS -->
   <link rel="stylesheet" href="public/css/main.css">
   
   <link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">    
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
         
   <title>Pothos</title>
   <link rel="icon" href="PlantPhotos/pothosLogo.png?">

</head>

<body class="main-layout bg-secondary">
  
        <nav class="navbar navbar-expand-md bg-primary p-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img class="" style="width: 175px" src="PlantPhotos/pothosHomepageLogo.png"></a>
                <button class="navbar-toggler bg-success mt-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class=" collapse navbar-collapse mt-3" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link nav-link-active fs-4" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link link-secondary fs-4" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link link-secondary fs-4" href="/shop">Shop</a></li>
                        <li class="nav-item"><a class="nav-link link-secondary fs-4" href="/care">Care</a></li>
                        <li class="nav-item" ><a class="nav-link" href="/cart"><i class="bi bi-cart2 bi-small text-success"></i></a></li> 
                    </ul>
                </div>
            </div>
        </nav>

        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="PlantPhotos/2.png" class="d-block w-100" style="height: 500px; object-fit: cover; " alt="...">
                    <div class="carousel-caption">
                        <h1 class="text-light">Lush New Arrivals</h1>
                        <p class="fs-4">Check out the shop or scroll down to see what's new on our shelves</p>
                        
                        <a href="/shop"><button class="btn btn-success">Shop Now</button></a>
                      </div>
                </div>

                <div class="carousel-item">
                    <img src="PlantPhotos/1.png" class="d-block w-100" style="height: 500px; object-fit: cover; " alt="...">
                    <div class="carousel-caption">
                        <h1>Shop More, Save More!</h1>
                        <p class="fs-4">Earn 20% off your entire purchase when you add 3 or more plants to your order.</p>
                        <a href="/shop"><button class="btn btn-success">Shop Now</button></a>
                    </div>
                </div>
              
                <div class="carousel-item">
                    <img src="PlantPhotos/3.png" class="d-block w-100" style="height: 500px; object-fit: cover; " alt="...">
                    <div class="carousel-caption">
                        <h1>Plant Care</h1>
                        <p class="fs-4">Keep plants healthy in your space</p>
                        <a href="/care"><button class="btn btn-success">Find Your Plant</button></a>
                    </div>
                </div>
            </div>  
        </div>
        <div class="d-flex flex-column align-content-center justify-content-end text-center p-5">
            <h1>Happy, Healthy Vines</h1>
            <p>bringing you beautiful, full, and healthy plants</p>
        </div>  


    <main>
        <section id="about" data-aos="zoom-in" class="section-center bg-light">
            <div class="container">
                <h2 class="text-center">Plant People with a Purpose</h2>
                <p>Here at Pothos, it's our mission to bring the beauty of green into your home. However, we know our job is not complete when our plant enters your home. That's why we offer continued support and guidance on care so you can grow more and worry less!</p>
                <a href="/about"><button type="button" class="btn btn-success border-2 border-dark">Read More</button></a> 
            </div>
        </section>

        <section id="featured" class="section-center bg-secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-dark">
                            <h2 class="text-center pb-3">Quality Vines: Featured Products</h2>           
                            <!-- <p class="fs-5">At Pothos, we're not all about sales. Our mission is to bring you quality plants that will last long and look healthy. </p> -->
                        </div>
                    </div>
                </div>
                
                <div class="row p-4">
                    <div class="col-xl-4 col-lg-6 col-md-6 pb-5" data-aos="fade-up">
                        <h3 class="text-center">Global Pothos</h3>
                        <img class="img-fluid circle-img-md border-primary" src="PlantPhotos/global-pothos.webp">
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 pb-5" data-aos="fade-up">
                        <h3 class="text-center">Golden Pothos</h3>
                        <img class="img-fluid circle-img-md" src="PlantPhotos/golden-pothos.jpeg">
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 pb-5" data-aos="fade-up">
                        <h3 class="text-center">Marble Queen</h3>
                        <img class="img-fluid circle-img-md" src="PlantPhotos/marble-pothos.jpeg">
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 pb-5" data-aos="fade-up">
                        <h3 class="text-center">Snow Queen</h3>
                        <img class="img-fluid circle-img-md" src="PlantPhotos/snow-pothos.webp">
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 pb-5" data-aos="fade-up">
                        <h3 class="text-center">Mini Monstera</h3>
                        <img class="img-fluid circle-img-md" src="PlantPhotos/rhaphido-monstera.webp">
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 pb-5" data-aos="fade-up">
                        <h3 class="text-center">Satin Pothos</h3>
                        <img class="img-fluid circle-img-md" src="PlantPhotos/satin-pothos.webp">
                    </div>
                    
                   
                </div>
                <div class="col-sm-12">
                    <a href="/shop"> <button type="button" class="btn btn-large btn-success border-2 border-dark">Shop All</button></a>
                 </div>
            </div>
        </section>

        <!-- <section id="mission" class="section-center">
            <div class="container">
                <h2 class="text-center h-blue">our mission</h2> 
                <div class="container">
                    <div class="row">
                        <div class="col-md">
                            <i class="bi icon-blue bi-flower3"></i>
                            <h5 class="text-center h-blue">grow with love</h5>
                        </div>
                        <div class="col-md">
                            <i class="bi icon-blue bi-brightness-high-fill"></i>
                            <h5 class="text-center h-blue">do good towards the planet</h5>
                        </div>
                        <div class="col-md">
                            <i class="bi icon-blue bi-heart"></i>
                            <h5 class="text-center h-blue">care for our customers</h5>
                        </div>
                    </div>
                  </div>
            </div>
        </section> -->
    </main>

    
<!-- footer -->
    <footer class="container-fluid bg-primary">
        <div class="row p-3">
            <ul class="nav pt-4 d-flex justify-content-center">
                <li class="nav-item"><a class="nav-link nav-link-active" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link link-secondary " href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link link-secondary " href="/shop">Shop</a></li>
                <li class="nav-item"><a class="nav-link link-secondary " href="/care">Care</a></li>
                <li class="nav-item"><a href="/reference" class="nav-link link-secondary">Reference</a></li>
                <li class="nav-item"><a href="/admin" class="nav-link link-secondary">Admin</a></li>
            </ul>
        </div>
        <div class="row p-3">
            <ul class="list-unstyled d-flex justify-content-center">
                <li class="ms-4"><a href="#"><i class="bi bi-small bi-facebook text-success"></i></a></li>
                <li class="ms-4"><a href="#"><i class="bi bi-small bi-instagram text-success"></i></a></li>
                <li class="ms-4"><a href="#"><i class="bi bi-small bi-twitter text-success"></i></a></li>
            </ul>
        </div>
        <hr class="text-secondary">
        <div class="row p-5 d-flex justify-content-center text-success">
            <form>
                <h3 class="text-center pb-4">Subscribe to our Newsletter</h3>
                <!-- <p>for exciting bi-wekly updates, deals, and plant care tips</p> -->
                <div class="input-group mb-3 m-auto" style="max-width: 600px">
                    <input type="text" class="form-control bg-light" placeholder="Email Address" aria-label="Email Address" aria-describedby="button-subscribe">
                    <button class="btn btn-success" type="button" id="button-subscribe">Subscribe</button>
                </div>
            </form>
        </div>
        
        <div class="pt-4 d-flex justify-content-center  align-items-center">
            <!-- <p class="text-center text-light">Made By Karissa Lange</p> -->
            <img class="pb-2" style="width: 3rem" src="PlantPhotos/pothosLogo.png" >
            <!-- <p class="text-center text-light">© 2023 Pothos, Inc. All rights reserved.</p> -->
        </div>
    </footer>
    
    
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>    
    
    <!-- AOS javascript -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>   
</body>
</html>