/* color reference: 
light white:  #f7fef7
green: 37472b
pink: e4a099
black: 000000
lightgreen: bfd2b0
*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100;1,300;1,400&display=swap');


.h-accent{
    font-family: Roboto;
    font-weight: 400;
}

*::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #f7fef7;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #bfd2b0;
    border-radius: 20px;
    border: 3px solid #f7fef7;
  }
html{
    background-color: #37472b;
}
body{
    /* background:linear-gradient(0deg, rgba(69, 82, 63, .8), rgba(69, 82, 63, .8)), url(pothosleaves.webp); */
    /* background-size: 200%; */
    /* background-color: #f7fef7; */
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}

/* NAVBAR */
    #navbar {
        padding: 20px 30px;
    }
   
    .nav-link, #logo {
        cursor: pointer;
        font-size: 20px;
        padding: 0;
        margin: 10px 10px 0 10px;
    }
    .nav-link-active, 
    .nav-link:hover{
        color: #e4a099;
        
    }
  
.hover-success:hover{
    color: #e4a099;
}
    
.carousel-caption{
    padding-bottom: 25vh;
}


header{
    height: 100vh;
}


/* General Section */
section {
    padding: 60px 30px;
    
}
i{
    cursor: pointer;
}
.section-center{
    text-align: center;
}

.circle-img-sm {
    width: 200px;
    height: 200px;
}
.circle-img-md {
    width: 18em;
    height: 18rem;
    border-radius:50%;
    /* margin: 20px; */
}
/* .circle-img-md:hover {
    transform: scale(1.1);
} */
.circle-img-lg {
    width: 375px;
    height: 375px;
    max-width: 500px;
    max-height: 500px;
    border-radius: 50%;
    object-fit: cover;
}



/* SHOP */
.shop-item {
    border-radius: 50px;
}

/* HEADERS */
/* 
    .h-blue {
        color: #2F4858;
    }
    .h-orange {
        color: #BC4A3C;
    }
    .h-white {
        color: white;
    }
    .h-black {
        color: black;
    } */

/* BUTTONS */

    .btn { 
        font-size: 20px;
        border-width: 3px;
        /* border-radius: 100px; */
    }
    .btn-o-dark{
        border-color: #0d1109;
    }
    .btn-o-primary{
        border-color: #37472b;
    }
    /* .btn-blue {
        background-color: #2F4858;
        color: white;
    }
    .btn-orange {
        background-color: #BC4A3C;
        color: white;
    }
    .btn-o-blue {
        border: 2px solid #2F4858;
        color: #2F4858;
    }
    .btn-o-orange {
        border: 2px solid #BC4A3C;
        color:#BC4A3C;
    } */


/* BOOTSTRAP ICONS */
    .bi{
        padding: 10px;
        font-size: 50px;
        cursor: pointer;
    }
    .bi-small{
        font-size: 25px;
        padding-top: 5px;
    }
    .icon {
        cursor: pointer;
    }
    /* .shopIcon{
        border-bottom-right-radius: ;
    } */
    /* .icon-blue {
        color: #2F4858;
    }
    .icon-blue:hover{
        color: #BC4A3C;
    }
    .icon-orange {
        color: #BC4A3C;
    }
    .icon-orange:hover{
        color: #2F4858;
    } */

    .animate-jump {
        animation: jumpInfinite 1.5s infinite;
    }
      



/* animations */
@keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
  }

